.about-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    object-fit: contain;
    position: fixed;
    
   
}

.about-body {
   justify-content: center;
   margin-top: 15%;
   margin-inline: 30%;
}


.about-body h1{
    font-size: 3rem;
    margin-bottom: 10px;
    color: rgb(28, 27, 27);
    
}

.about-body u{
    text-decoration: none;
    border-bottom: 1px solid black;
}

p{
    font-size: 1.5rem;
    font-weight: bolder;
    font-family: 'PT Sans', sans-serif;
    color: white;
}

