.hero-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    object-fit: contain;
    position: fixed;
}

.hero-container > h1 {
    color: #fff;
    font-size: 100px;
    text-align: center;
  }
  
  .hero-container > p {
    margin-top: 0px;
    color: #fff;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  
  .hero-btns {
    margin-top: 20px;
    
  }
  
  .hero-btns .btn {
    margin: 20px;
  }
  
.fa-btn{
    margin: 10px;
    padding-bottom: 8px;
}

.fa-btn:hover {
    border-bottom: 3px solid #fff;
    transition: all 0.2s ease-out;
  }
  